[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.7"
graphene-django = "==3.2.3"
django-filter = "==25.1"
psycopg2-binary = "==2.9.10"
python-dotenv = "==1.1.1"
django-graphql-jwt = "==0.4.0"
argon2-cffi = "==25.1.0"
djangorestframework = "==3.16.1"
django-cors-headers = "==4.9.0"
celery = "==5.5.3"
django-redis = "==6.0.0"

[dev-packages]
black = "==25.9.0"
isort = "==7.0.0"
mypy = "==1.18.2"
pytest = "==8.4.2"
pytest-django = "==4.11.1"

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
